.category-card {
    width: calc(33.33% - 20px);
    margin: 10px;
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: inline-block; /* Display the cards in a row */
    vertical-align: top; /* Align the cards to the top */
    box-sizing: border-box; /* Include padding and border in the width calculation */
  }
  
  .category-image-container {
    width: 100%;
    height: 0;
    padding-bottom: 60%; /* Adjust the padding-bottom to control the aspect ratio of the image */
    position: relative;
  }
  
  .category-image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 5px;
  }
  
  .category-card h2 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  