.category-list {
    text-align: center;
    white-space: nowrap;
    overflow-x: auto;
    padding: 10px 0;
  }

.categories-title {
  color: #4C5B5C;
  font-size: 20px;
  margin-left: 10px;
  margin-top: 25px;

}
  
  @media (max-width: 768px) {
    .category-list {
      overflow-x: hidden;
    }
  }
  